version: "3.8"

services:

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    container_name: kibana
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200

  logstash:
    image: docker.elastic.co/logstash/logstash:8.12.0
    container_name: logstash
    depends_on:
      - elasticsearch
    command: ["logstash", "-f", "/usr/share/logstash/pipeline/logstash.conf"]
    volumes:
      - ../logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
      - ../logs/auth_app.log:/usr/share/logstash/logs/auth_app.log
    ports:
      - "5044:5044"
      - "9600:9600"

volumes:
  esdata:
